<h1>Edit profile</h1>

<%= form_with model: current_user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.label :nickname %>
  <%= f.text_field :nickname %>
  <%= f.submit "Update profile" %>
  <%= link_to "Skip this time", dashboard_path(skip: true) %>
<% end %>
